<form name="createclientform" novalidate="" class="col-md-12 form-horizontal" ng-controller="EditClientController"
      rc-submit="submitAndAccept()">
    <div>
        <ul class="breadcrumb">
            <li><a href="#/clients">{{'label.anchor.clients' | translate}}</a></li>
            <li><a href="#/viewclient/{{clientId}}">{{'label.anchor.viewclient' | translate}}</a></li>
            <li class="active">{{'label.anchor.editclient' | translate}}</li>
        </ul>
    </div>
    <api-validate></api-validate>
    <div class="well">
		<fieldset>
			<legend>{{'label.heading.editclient' | translate}}</legend>

			<div class="form-group">
				<div class="row">
					<div class="col-md-2"><label class="control-label"><span ng-show="forceOffice == null" class="required">*</span>
						{{'label.input.office' | translate}}</label></div>
					<div class="col-md-2">
						<div ng-show="forceOffice == null">
							<select id="officeId" name="officeId" ng-model="formData.officeId" class="form-control"
									ng-options="office.id as office.name for office in offices" value="{{office.id}}"
									ng-change="changeOffice(formData.officeId)"></select>
							<form-validate valattributeform="createclientform" valattribute="officeId"/>
						</div>
						<div ng-show="forceOffice != null">
							<p class="form-control-static">{{forceOffice.name}}</p>
						</div>
					</div>

					<label class="control-label col-md-2"><span class="required">*</span>{{'label.input.staff' | translate}}</label>
					<div class="col-md-2">
						<select id="staffId" name="staffId" ng-model="formData.staffId" class="form-control"
								ng-options="staff.id as staff.displayName for staff in staffs" value="{{staff.id}}"
								required late-validate="">
							<option value="">--{{'label.menu.selectloanofficer' | translate}}--</option>
						</select>
						<form-validate valattributeform="createclientform" valattribute="staffId"/>
					</div>

					<label class="control-label col-md-2"></label>
					<div class="col-md-2"></div>
				</div>
			</div>

			<div class="form-group">
				<div class="row">
					<div class="col-md-2"><label for="salutation" class="control-label">&nbsp;&nbsp;Title<span
							class="required">*</span></label>
					</div>
					<div class="col-md-2">
						<select id="title" name="title" ng-model="formData.clientExt.salutation" class="form-control"
								ng-options="salutation.id as salutation.name for salutation in salutations"
								value="{{salutation.id}}" required late-Validate>
							<option value=""> {{'label.menu.select' | translate}}</option>
						</select>
					</div>
					<div class="col-sm-2">
						<form-validate valattributeform="createclientform" valattribute="title"/>
					</div>
				</div>
			</div>

			<div class="form-group">
				<div class="row">
					<div class="col-md-2"><label class="control-label" for="firstname"><span
							class="required">*</span> Applicant Name</label></div>
					<div class="col-md-4">
						<input placeholder="FIRST NAME" type="text" id="firstname"
							   name="firstname" ng-model="formData.firstname" class="form-control"
							   required late-Validate/>
						<form-validate valattributeform="createclientform" valattribute="firstname"/>
					</div>
					<div class="col-md-3">
						<input placeholder="MIDDLE NAME" type="text" id="middlename"
							   ng-model="formData.middlename" class="form-control"/>
					</div>
					<div class="col-md-3">
						<input placeholder="SURNAME" type="text" id="lastname" name="lastname"
							   ng-model="formData.lastname" class="form-control" required late-validate=""/>
						<form-validate valattributeform="createclientform" valattribute="lastname"/>
					</div>
				</div>
			</div>

			<div class="form-group">
				<div class="row">
					<div class="col-md-2"><label class="control-label" for="firstname"><span
							class="required">*</span>Fother/Spouse Name</label></div>
					<div class="col-md-4">
						<input placeholder="FIRST NAME" type="text" id="clientExtfirstname"
							   name="clientExtfirstname" ng-model="formData.clientExt.spfirstname" class="form-control"
							   required late-Validate/>
						<form-validate valattributeform="createclientform" valattribute="clientExtfirstname"/>
					</div>
					<div class="col-md-3">
						<input placeholder="MIDDLE NAME" type="text" id="clientExtmiddlename"
							   ng-model="formData.clientExt.spmiddlename" class="form-control"/>
					</div>
					<div class="col-md-3">
						<input placeholder="SURNAME" type="text" id="clientExtlastname" name="clientExtlastname"
							   ng-model="formData.clientExt.splastname" class="form-control" required late-validate=""/>
						<form-validate valattributeform="createclientform" valattribute="clientExtlastname"/>
					</div>
				</div>
			</div>

			<div class="form-group">
				<div class="row">
					<div class="col-md-2"><label class="control-label"><span class="required">*</span>
						Gender</label></div>
					<div class="col-md-2">
						<select id="genderId" name="genderId" ng-model="formData.genderId" class="form-control"
								ng-options="gender.id as gender.name for gender in genderOptions"
								value="{{gender.id}}" required
								late-Validate>
							<option value=""> {{'label.menu.gender' | translate}}</option>
						</select>
						<form-validate valattributeform="createclientform" valattribute="genderId"/>
					</div>

					<label class="control-label col-md-2"><span class="required">*</span> Marital Status</label>
					<div class="col-md-2">
						<select id="martialStatusId" name="martialStatusId" ng-model="formData.clientExt.maritalStatus" class="form-control"
								ng-options="martialStatus.id as martialStatus.name for martialStatus in martialStatusOptions"
								value="{{martialStatus.id}}" required
								late-Validate>
							<option value=""> {{'label.menu.select' | translate}}</option>
						</select>
						<form-validate valattributeform="createclientform" valattribute="martialStatusId"/>
					</div>

					<label class="control-label col-md-2"><span class="required">*</span> Date Of Birth</label>

					<div class="col-md-2">
						<input id="dateofbirth" type="text" name="dateofbirth" datepicker-pop="dd MMMM yyyy"
							   ng-model="formData.dateOfBirth" is-open="opened1" class="form-control"
							   required
							   late-Validate/>
						<form-validate valattributeform="createclientform" valattribute="dateofbirth"/>
					</div>
				</div>
			</div>

			<div class="form-group">
				<div class="row">
					<div class="col-md-2"><label><span class="required">*</span>Eductional Qualification</label></div>
					<div class="col-md-2">
						<select id="educationalQualificationClient" name="educationalQualificationClient"
								ng-model="formData.clientExt.educationalQualification"
								class="form-control"
								ng-options="eductionalQualification.id as eductionalQualification.name for eductionalQualification in eductionalQualificationOptions"
								value="{{eductionalQualification.id}}" required late-validate="">
							<option value=""> {{'label.menu.select' | translate}}</option>
						</select>
						<form-validate valattributeform="createclientform" valattribute="educationalQualificationClient"/>
					</div>

					<label class="control-label col-md-2"><span class="required">*</span>Profession</label>
					<div class="col-md-2">
						<select id="professionClient" name="professionClient"
								ng-model="formData.clientExt.profession" class="form-control"
								ng-options="Profession.id as Profession.name for Profession in ProfessionOptions"
								value="{{Profession.id}}" required late-validate="">
							<option value=""> {{'label.menu.select' | translate}}</option>
						</select>
						<form-validate valattributeform="createclientform" valattribute="professionClient"/>
					</div>

					<label class="control-label col-md-2">&nbsp;</label>

					<div class="col-md-2">&nbsp;</div>
				</div>
			</div>


			<div class="form-group">
				<div class="row">
					<label class="col-md-2">Annual Income</label>
					<div class="col-md-2">
						<select id="annualIncomeId" name="annualIncomeId" ng-model="formData.clientExt.annualIncome" class="form-control"
								ng-options="annualIncome.id as annualIncome.name for annualIncome in annualIncomeOptions"
								value="{{annualIncome.id}}" required late-validate="">
							<option value="">--{{'label.menu.select' | translate}}--</option>
						</select>
						<form-validate valattributeform="createclientform" valattribute="annualIncomeId"/>
					</div>

					<div class="col-md-2"><label class="control-label">&nbsp;&nbsp;Land Holding</label></div>
					<div class="col-md-2">
						<select id="landHoldingId" name="landHoldingId" ng-model="formData.clientExt.landholding"
								class="form-control"
								ng-options="landHolding.id as landHolding.name for landHolding in landHoldings"
								value="{{landHolding.id}}" required late-validate="">
							<option value="">--{{'label.menu.select' | translate}}--</option>
						</select>
						<form-validate valattributeform="createclientform" valattribute="landHoldingId"/>
					</div>
					<label class="control-label col-md-2">House Type</label>

					<div class="col-md-2">
						<select id="houseTypeId" name="houseTypeId" ng-model="formData.clientExt.houseType" class="form-control"
								ng-options="houseType.id as houseType.name for houseType in houseTypes"
								value="{{houseType.id}}" required late-validate="">
							<option value="">{{'label.menu.select' | translate}}</option>
						</select>
						<form-validate valattributeform="createclientform" valattribute="houseTypeId"/>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="row">
					<div class="col-md-2"><label class="control-label">&nbsp;&nbsp;Adhaar</label></div>
					<div class="col-md-2">
						<input placeholder="A D H A A R" type="text" id="aadhaar_no" name="aadhaar_no" ng-model="formData.clientExt.aadhaarNo"
							   class="form-control" maxlength="100"/>
					</div>

					<label class="control-label col-md-2">&nbsp;&nbsp;PAN</label>
					<div class="col-md-2">
						<input placeholder="PAN NUMBER" type="text" id="pan_no" name="pan_no" ng-model="formData.clientExt.panNo"
							   class="form-control" maxlength="100"/>
					</div>
					<label class="control-label col-md-2"><span
							class="required">*</span>Form 60/61</label>

					<div class="col-md-2">
						<select id="panFormId" name="panFormId" ng-model="formData.clientExt.panForm" class="form-control"
								ng-options="panForm.id as panForm.name for panForm in panForms"
								value="{{panForm.id}}" required late-validate="">
							<option value=""> {{'label.menu.select' | translate}}</option>
						</select>
						<form-validate valattributeform="createclientform" valattribute="panFormId"/>
					</div>
				</div>
			</div>

			<div class="form-group">
				<div class="row">
					<div class="col-md-2"><label class="control-label">&nbsp;&nbsp;NREGA Number</label></div>
					<div class="col-md-10">
						<input placeholder="N R E G A" type="text" id="adhaar" name="nregaNo" ng-model="formData.clientExt.nregaNo"
							   class="form-control"/>
					</div>
				</div>
			</div>

			<div class="form-group">
				<div class="row">
					<div class="col-md-2"><label class="control-label">&nbsp;&nbsp;Belonging to</label></div>
					<div class="col-md-2">
						<select id="clienttypeId" ng-model="formData.clientTypeId" class="form-control"
								ng-options="clienttype.id as clienttype.name for clienttype in clienttypeOptions"
								value="{{clienttype.id}}">
							<option value="">{{'label.menu.select' | translate}}</option>
						</select>
					</div>
					<label class="control-label col-md-2">Religion</label>

					<div class="col-md-2">
						<select id="clientClassificationId" ng-model="formData.clientClassificationId"
								class="form-control"
								ng-options="clientClassification.id as clientClassification.name for clientClassification in clientClassificationOptions"
								value="{{clientClassification.id}}">
							<option value="">{{'label.menu.select' | translate}}</option>
						</select>
					</div>
				</div>
			</div>

			<hr/>
			<legend>Communication Address</legend>
			<div class="form-group">
				<div class="row">
					<div class="col-md-2"><label class="control-label" for="houseNumber">House Number</label>
					</div>
					<div class="col-md-4"><input placeholder="HOUSE NUMBER" type="text" id="houseNumber"
												 name="houseNumber" ng-model="formData.naddress[0].houseNo"
												 class="form-control" /></div>
					<label class="control-label col-md-2" for="streetNumber">Street Number </label>

					<div class="col-md-4"><input placeholder="STREET NUMBER" type="text" id="streetNumber"
												 name="streetNumber" ng-model="formData.naddress[0].streetNo"
												 class="form-control" /></div>
				</div>
			</div>

			<div class="form-group">
				<div class="row">
					<div class="col-md-2"><label class="control-label" for="areaLocality"> Area Locality </label></div>
					<div class="col-md-10">
						<input placeholder=""
							   type="text" id="areaLocality" name="areaLocality"
							   ng-model="formData.naddress[0].areaLocality" class="form-control" />
					</div>
				</div>
			</div>

			<div class="form-group">
				<div class="row">
					<div class="col-md-2"><label class="control-label" for="landmark"> Landmark </label></div>
					<div class="col-md-4"><input placeholder="" type="text" id="landmark" name="landmark"
												 ng-model="formData.naddress[0].landmark" class="form-control"/></div>
					<label class="control-label col-md-2" for="villageTown">Village/Town </label>

					<div class="col-md-4"><input placeholder="" type="text" id="villageTown" name="villageTown"
												 ng-model="formData.naddress[0].villageTown" class="form-control"/></div>
				</div>
			</div>

			<div class="form-group">
				<div class="row">
					<div class="col-md-2"><label class="control-label" for="taluka"><span
							class="required">*</span>Taluka</label></div>
					<div class="col-md-4">
						<input placeholder="Taluka"
							   type="text"
							   id="taluka"
							   name="taluka"
							   ng-model="formData.naddress[0].taluka" class="form-control"
							   required
							   late-Validate/>
						<form-validate valattributeform="createclientform" valattribute="taluka"/>
					</div>
					<label class="control-label col-md-2" for="districtId"><span
							class="required">*</span>District </label>
					<div class="col-md-4">
						<select name="districtId" ng-model="formData.naddress[0].district" class="form-control"
								ng-options="district.id as district.name for district in districtOptins"
								value="{{district.id}}" required late-validate="">
							<option value="">{{'label.menu.select' | translate}}</option>
						</select>
						<form-validate valattributeform="createclientform" valattribute="districtId"/>
					</div>
				</div>
			</div>

			<div class="form-group">
				<div class="row">
					<div class="col-md-2"><label class="control-label"><span class="required">*</span>State</label></div>
					<div class="col-md-4">
						<select  name="stateId" ng-model="formData.naddress[0].state" class="form-control"
								 ng-options="state.id as state.name for state in stateOptions" value="{{state.id}}" required late-validate="">
							<option value="">{{'label.menu.select' | translate}}</option>
						</select>
						<form-validate valattributeform="createclientform" valattribute="stateId"/>
					</div>

					<label class="control-label col-md-2" for="pincode"><span
							class="required">*</span>PIN Code </label>
					<div class="col-md-4">
						<input placeholder="" type="text" id="pincode" name="pincode"
							   ng-model="formData.naddress[0].pinCode" class="form-control" required late-Validate
							   maxlength="6"/>
						<form-validate valattributeform="createclientform" valattribute="pincode"/>
					</div>
				</div>
			</div>

			<div class="form-group">
				<div class="row">
					<div class="col-md-2"><label class="control-label" for="landlineNumber">Landline
						number </label></div>
					<div class="col-md-4"><input placeholder="" type="text" id="landlineNumber"
												 name="landlineNumber" ng-model="formData.naddress[0].landlineNo"
												 class="form-control"  maxlength="20"/></div>
					<label class="control-label col-md-2" for="mobileNumber"><span class="required">*</span>Mobile number </label>

					<div class="col-md-4">
						<input placeholder="Mobile Number"
							   type="text" id="mobileNumber"
							   name="mobileNumber" ng-model="formData.naddress[0].mobileNo"
							   class="form-control" required late-Validate  maxlength="11"/>
						<form-validate valattributeform="createclientform" valattribute="mobileNumber"/>
					</div>
				</div>
			</div>

			<hr/>
			<legend>
				<span class="required">*</span> Address as per KYC document - Same as above
				<input type="checkbox" ng-model="addressabove" ng-change="addressaboveSetting()" />
			</legend>

			<ng-form name="createclientformkycaddress" novalidate="" rc-submit="submit()">
				<fieldset>
					<div class="form-group">
						<div class="row">
							<div class="col-md-2"><label class="control-label" for="houseNumber">House Number</label>
							</div>
							<div class="col-md-4"><input placeholder="HOUSE NUMBER" type="text" id="houseNumber1"
														 name="houseNumber" ng-model="formData.naddress[1].houseNo"
														 class="form-control" ng-disabled="addressabove"/></div>
							<label class="control-label col-md-2" for="streetNumber">Street Number </label>

							<div class="col-md-4"><input placeholder="STREET NUMBER" type="text" id="streetNumber1"
														 name="streetNumber" ng-model="formData.naddress[1].streetNo"
														 class="form-control" ng-disabled="addressabove"/></div>
						</div>
					</div>

					<div class="form-group">
						<div class="row">
							<div class="col-md-2"><label class="control-label" for="areaLocality"> Area Locality </label></div>
							<div class="col-md-10">
								<input placeholder=""
									   type="text" id="areaLocality1" name="areaLocality"
									   ng-model="formData.naddress[1].areaLocality" class="form-control" ng-disabled="addressabove" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="row">
							<div class="col-md-2"><label class="control-label" for="landmark"> Landmark </label></div>
							<div class="col-md-4"><input placeholder="" type="text" id="landmark1" name="landmark"
														 ng-model="formData.naddress[1].landmark" class="form-control" ng-disabled="addressabove"/></div>
							<label class="control-label col-md-2" for="villageTown">Village/Town </label>

							<div class="col-md-4"><input placeholder="" type="text" id="villageTown1" name="villageTown"
														 ng-model="formData.naddress[1].villageTown" class="form-control" ng-disabled="addressabove"/></div>
						</div>
					</div>

					<div class="form-group">
						<div class="row">
							<div class="col-md-2"><label class="control-label" for="taluka"><span
									class="required">*</span>Taluka</label></div>
							<div class="col-md-4">
								<input placeholder="Taluka"
									   type="text"
									   id="taluka1"
									   name="taluka1"
									   ng-model="formData.naddress[1].taluka" class="form-control"
									   required
									   late-Validate ng-disabled="addressabove"/>
								<form-validate valattributeform="createclientformkycaddress" valattribute="taluka1"/>
							</div>
							<label class="control-label col-md-2" for="districtId"><span
									class="required">*</span>District </label>
							<div class="col-md-4">
								<select name="districtId1" ng-model="formData.naddress[1].district" class="form-control"
										ng-options="district.id as district.name for district in districtOptins"
										value="{{district.id}}" required late-validate ng-disabled="addressabove">
									<option value="">{{'label.menu.select' | translate}}</option>
								</select>
								<form-validate valattributeform="createclientformkycaddress" valattribute="districtId1"/>
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="row">
							<div class="col-md-2"><label class="control-label"><span class="required">*</span>State</label></div>
							<div class="col-md-4">
								<select  name="stateId1" ng-model="formData.naddress[1].state" class="form-control"
										 ng-options="state.id as state.name for state in stateOptions"
										 value="{{state.id}}" required late-validate ng-disabled="addressabove">
									<option value="">{{'label.menu.select' | translate}}</option>
								</select>
								<form-validate valattributeform="createclientformkycaddress" valattribute="stateId1"/>
							</div>

							<label class="control-label col-md-2" for="pincode"><span
									class="required">*</span>PIN Code </label>
							<div class="col-md-4">
								<input placeholder="" type="text" id="pincode1" name="pincode1"
									   ng-model="formData.naddress[1].pinCode" class="form-control" required late-Validate
									   maxlength="6" ng-disabled="addressabove"/>
								<form-validate valattributeform="createclientformkycaddress" valattribute="pincode1"/>
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="row">
							<div class="col-md-2"><label class="control-label" for="landlineNumber">Landline
								number </label></div>
							<div class="col-md-4"><input placeholder="" type="text" id="landlineNumber1"
														 name="landlineNumber" ng-model="formData.naddress[1].landlineNo"
														 class="form-control" ng-disabled="addressabove"/></div>
							<label class="control-label col-md-2" for="mobileNumber"><span class="required">*</span>Mobile number </label>

							<div class="col-md-4">
								<input placeholder="Mobile Number"
									   type="text" id="mobileNumber1"
									   name="mobileNumber1" ng-model="formData.naddress[1].mobileNo"
									   class="form-control" required late-Validate
									   ng-disabled="addressabove"/>
								<form-validate valattributeform="createclientformkycaddress"
											   valattribute="mobileNumber1"/>
							</div>
						</div>
					</div>
				</fieldset>
			</ng-form>

			<hr/>
			<legend>
				<span class="required">*</span> Details Of Identity and Address proof (One ID & One Address Proof)
			</legend>

			<div class="form-group">
				<div class="row">
					<div class="col-md-2"><label class="control-label" for="landlineNumber">Identity Proof </label></div>
					<div class="col-md-4">
						<select name="identityProofTypeId0"
								ng-model="formData.clientIdentifierData[0].documentTypeId"
								class="form-control"
								ng-options="identityProof.id as identityProof.name for identityProof in identityProofOptions"
								value="{{identityProof.id}}" required late-validate="">
							<option value="">{{'label.menu.select' | translate}}</option>
						</select>
						<form-validate valattributeform="createclientform" valattribute="identityProofTypeId0"/>
					</div>
					<label class="control-label col-md-2" for="identityProof">ID proof number </label>

					<div class="col-md-4">
						<input placeholder="ID proof number"
							   type="text" name="identityProofNumber0" ng-model="formData.clientIdentifierData[0].documentKey"
							   class="form-control" required late-Validate />
						<form-validate valattributeform="createclientform" valattribute="identityProofNumber0"/>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="row">
					<div class="col-md-2"><label class="control-label" for="landlineNumber">Address Proof </label></div>
					<div class="col-md-4">
						<select name="identityProofTypeId1"
								ng-model="formData.clientIdentifierData[1].documentTypeId"
								class="form-control"
								ng-options="addressProof.id as addressProof.name for addressProof in addressProofOptions"
								value="{{addressProof.id}}" required late-Validate>
							<option value="">{{'label.menu.select' | translate}}</option>
						</select>
						<form-validate valattributeform="createclientform" valattribute="identityProofTypeId1"/>
					</div>
					<label class="control-label col-md-2" for="addressProof">Address proof number </label>

					<div class="col-md-4">
						<input placeholder="Address Proof Number"
							   type="text" name="identityProofNumber1"
							   ng-model="formData.clientIdentifierData[1].documentKey"
							   class="form-control" required late-Validate />
						<form-validate valattributeform="createclientform" valattribute="identityProofNumber1"/>
					</div>
				</div>
			</div>

			<hr/>
			<legend>
				Family Details <a class="btn btn-primary" style="float:right;"
								  ng-click="addFamilyDetails()"
								  ng-hide="formData.familyDetails.length >= 4">{{'label.button.add' |
				translate }}</a>
			</legend>

			<div class="row">

				<div class="form-group">
					<div class="col-md-2">First Name</div>
					<div class="col-md-2">Last Name</div>
					<div class="col-md-2">Relationship</div>
					<div class="col-md-1">Sex</div>
					<div class="col-md-1">Age</div>
					<div class="col-md-2">Occupation</div>
					<div class="col-md-2">Educational Status</div>
				</div>

				<div class="form-group" ng-repeat="family in formData.familyDetails track by $index">
					<ng-form name="formfamilydetails" novalidate="" rc-submit="submit()">
						<div class="col-md-2">
							<input placeholder="FIRST NAME" type="text" id="spfirstname"
								   name="spfirstname" ng-model="family.firstname"
								   class="form-control" required late-Validate/>
							<form-validate valattributeform="formfamilydetails" valattribute="spfirstname"/>
						</div>

						<div class="col-md-2">
							<input placeholder="SURNAME"
								   type="text" id="splastname" name="splastname"
								   ng-model="family.lastname" class="form-control"/>
						</div>

						<div class="col-md-2">
							<select id="relationship" name="relationship" ng-model="family.relationship"
									class="form-control"
									ng-options="Profession.id as Profession.name for Profession in ProfessionOptions"
									value="{{Profession.id}}" required late-validate="">
								<option value=""> {{'label.menu.select' | translate}}</option>
							</select>
							<form-validate valattributeform="formfamilydetails" valattribute="relationship"/>
						</div>

						<div class="col-md-1">
							<select id="gender" name="gender" ng-model="family.gender" class="form-control"
									ng-options="gender.id as gender.name for gender in genderOptions"
									value="{{gender.id}}" required late-Validate>
								<option value=""> {{'label.menu.gender' | translate}}</option>
							</select>
							<form-validate valattributeform="formfamilydetails" valattribute="gender"/>
						</div>

						<div class="col-md-1">
							<input placeholder="Age" type="text" id="spAge" name="spAge" ng-model="family.age"
								   class="form-control" maxlength="2" number-format="" required
								   late-validate=""/>
							<form-validate valattributeform="formfamilydetails" valattribute="spAge"/>
						</div>

						<div class="col-md-2">
							<select id="ProfessionId" name="ProfessionId" ng-model="family.occupation"
									class="form-control"
									ng-options="Profession.id as Profession.name for Profession in ProfessionOptions"
									value="{{Profession.id}}" required late-validate="">
								<option value=""> {{'label.menu.select' | translate}}</option>
							</select>
							<form-validate valattributeform="formfamilydetails" valattribute="ProfessionId"/>
						</div>

						<div class="col-md-1">
							<select id="eductionalQualificationId" name="eductionalQualificationId" ng-model="family.educationalStatus"
									class="form-control"
									ng-options="eductionalQualification.id as eductionalQualification.name for eductionalQualification in eductionalQualificationOptions"
									value="{{eductionalQualification.id}}" required
									late-validate="">
								<option value=""> {{'label.menu.select' | translate}}</option>
							</select>
							<form-validate valattributeform="formfamilydetails" valattribute="eductionalQualificationId"/>
						</div>

						<div class="col-md-1">
                            <span><a ng-click="deleteFamilyDetails($index)"><i
									class="icon-remove icon-white" ng-show="formData.familyDetails.length > 1"></i></a></span>
						</div>
					</ng-form>
				</div>
			</div>


			<hr/>
			<legend>
				Financial Details
			</legend>

			<div class="row"> 1. Source of income from the household (Family income) </div>

			<div class="row">
				<div class="form-group">
					<div class="col-md-3"><strong>Occupation</strong></div>
					<div class="col-md-3"><strong>Annual revenue</strong></div>
					<div class="col-md-3"><strong>Annual expense</strong></div>
					<div class="col-md-3"><strong>Annual Surplus</strong></div>
				</div>

				<div class="form-group"  ng-repeat="cfaOccupation in cfaOccupations track by $index">
					<div class="col-md-3">{{cfaOccupation.name}}</div>
					<div class="col-md-3">
						<input placeholder="revenue" type="text" id="revenue" name="revenue" ng-model="cfaOccupation.revenue" class="form-control" maxlength="5"/>
					</div>
					<div class="col-md-3">
						<input placeholder="expense" type="text" id="expense" name="expense" ng-model="cfaOccupation.expense" class="form-control" maxlength="5"/>
					</div>
					<div class="col-md-3">
						<input placeholder="surplus" type="text" id="surplus" name="surplus" ng-model="cfaOccupation.surplus" class="form-control" maxlength="5"/>
					</div>
				</div>
			</div>

			<div class="row"> 2. Present source of Loan (Bank/MFIS/Relatives) </div>
			<div class="form-group">
				<div class="row">
					<div class="col-md-2">Source</div>
					<div class="col-md-2">Purpose</div>
					<div class="col-md-2">Amount borrowed</div>
					<div class="col-md-2">Tenure (in months)</div>
					<div class="col-md-2">Amount o/s</div>
					<div class="col-md-2">Status</div>
				</div>
			</div>






			<hr/>
			<legend>
				Nomination
			</legend>


			<hr/>

			<div class="col-md-offset-10">
				<a id="cancel" ng-href="{{cancel}}" class="btn btn-default">{{'label.button.cancel' | translate}}</a>
				<button id="save" type="submit" class="btn btn-primary" ng-hide="blockUI"
						has-permission='CREATE_CLIENT'>{{'label.button.save' | translate}}
				</button>
				<button class="btn btn-info" ng-show="blockUI"><strong>{{'label.button.processing' |
					translate}}</strong></button>
			</div>
		</fieldset>
	</div>
</form>
