<div class="col-md-12">
    <ul class="breadcrumb">
        <li><a href="#/groups">{{'label.anchor.groupextraDetails' | translate}}</a></li>
        <li class="active">{{'label.anchor.groupextraDetails' | translate}}</li>
    </ul>
    <form name="createrblloanform" novalidate="" class="form-horizontal well" ng-controller="EditRblLoanController"
          rc-submit="submit()">
        <api-validate></api-validate>
        <fieldset>
            <legend>{{'label.heading.rblloanExtraDeatails' | translate}}</legend>

            <div class="form-group">
                <label class="control-label col-sm-2" for="pslcode">{{'label.input.pslcode' | translate}}<span
                        class="required">*</span></label>

                <div class="col-md-4">
                    <select id="pslcode" name="pslcode" ng-model="formData.pslcode" class="form-control"
                            ng-options="pslcode.id as pslcode.name for pslcode in pslcodeOptions" value="{{pslcode.id}}"
                            ng-required="isStateRequired">
                        <option value="">{{'label.menu.select' | translate}}</option>
                    </select>
                    <span class="error" ng-show="submitted && createrblloanform.pslcode.$error.required">{{'label.error.required'|translate}}</span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="topuploanflag">{{'label.input.topuploanflag' | translate}}<span
                        class="required">*</span></label>

                <div class="col-md-4">
                    <select id="topuploanflag" name="topuploanflag" ng-model="formData.topuploanflag" class="form-control"
                            ng-options="topuploanflag.id as topuploanflag.name for topuploanflag in topuploanflagOptions" value="{{topuploanflag.id}}"
                            ng-required="isStateRequired">
                        <option value="">{{'label.menu.select' | translate}}</option>
                    </select>
                    <span class="error" ng-show="submitted && createrblcustomerform.topuploanflag.$error.required">{{'label.error.required'|translate}}</span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="hosiptalcash">{{'label.input.hosiptalcash' | translate}}<span
                        class="required">*</span>
                    <i class="icon-question-sign" tooltip="{{'label.tooltip.hosiptalcash' | translate}}" tooltip-append-to-body="true"></i>
                </label>

                <div class="col-sm-3">
                    <input ng-autofocus="true" type="text" id="hosiptalcash" name="hosiptalcash" maxlength="20" ng-model="formData.hosiptalcash" class="form-control" required
                           late-Validate/>
                    <span class="error" ng-show="submitted && createrblgroupform.maxnumber.$error.required">{{'label.error.required'|translate}}</span>
                    <span class="required"
                          ng-show="createrblgroupform.hosiptalcash.maxlength">not more than 20 character</span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="prpaidcharge">{{'label.input.prpaidcharge' | translate}}<span
                        class="required">*</span>
                    <i class="icon-question-sign" tooltip="{{'label.tooltip.prepaidcharge' | translate}}" tooltip-append-to-body="true"></i>
                </label>

                <div class="col-sm-3">
                    <input ng-autofocus="true" type="text" id="prpaidcharge" name="prpaidcharge"  ng-model="formData.prpaidcharge" class="form-control" required
                           late-Validate/>
                    <span class="required"
                          ng-show="createrblgroupform.prpaidcharge.prpaidcharge">not more than 20 character</span>

                </div>
            </div>

            <div class="col-md-offset-2 paddedleft">
                <a id="cancel" href="#/centers" class="btn btn-default">{{'label.button.cancel' | translate}}</a>
                <button id="save" type="submit" class="btn btn-primary" has-permission='CREATE_LOAN'>{{'label.button.save' | translate}}</button>
            </div>
        </fieldset>
    </form>
</div>