<div class="col-md-12" ng-controller="RblValidationSearchController">
    <div>
        <ul class="breadcrumb">
            <li><a href="#/organization">{{'label.anchor.rblfilevalidationdearch' | translate}}</a></li>
            <li class="active">{{'label.anchor.rblfilevalidationdearch' | translate}}</li>
        </ul>
    </div>
    <api-validate></api-validate>

    <div class="form-inline paddedtop paddedbottom10" ng-show="isCollapsed">

        <div class="form-group">
            <input class="form-control width155px" type="text" datepicker-pop="dd MMMM yyyy" ng-model="formData.fromDate" is-open="opened" min="minDate" max="'2020-06-22'" placeholder="{{ 'label.input.fromdate' | translate }}"/>
        </div>
        <div class="form-group">
            <input class="form-control width155px" type="text" datepicker-pop="dd MMMM yyyy" ng-model="formData.toDate" is-open="opened1" min="minDate" max="'2020-06-22'" placeholder="{{ 'label.input.todate' | translate }}"/>
        </div>
        <div class="form-group">
            <input type="radio" name="Request" value="Request" ng-click="valueFor('CB')" checked> CB File<br>
        </div>
        <div class="form-group">
            <input type="radio" name="Request" value="Response"   ng-click="valueFor('RBL')"> RBL File<br>
        </div>
        <div class="form-group clear">
            <a ng-click="submit()" class="btn btn-primary control" has-permission='READ_RBL'><i class="icon-search icon-white"></i></a></center>
        </div>
    </div>
    <div class="pull-right" ng-show="!isCollapsed">
        <button ng-click="isCollapsed = !isCollapsed" class="btn btn-primary control"><i class="icon-chevron-down icon-white"></i>{{
            'label.button.parameters' | translate }}
        </button>
    </div>
    <div >
        <br>
        <table class="table">
            <thead>
            <tr class="graybg">
                <th>{{'label.heading.fileDate' | translate}}</th>
                <th>{{'label.heading.fileName' | translate}}</th>
                <th>{{'label.heading.filepath' | translate}}</th>
                <th>{{'label.heading.download' | translate}}</th>
            </tr>
            </thead>
            <tbody>
            <tr class="pointer-main" ng-repeat="file in fileData">
                <td>{{file.filedate|DateFormat}}</td>
                <td>{{file.fileName}}</td>
                <td>{{file.fileLocation}}</td>
                <td><a target="_target" href="https://localhost:8443/mifosng-provider/api/v1/clients/1/documents/2/rblattachment/{{file.fileName}}/root?tenantIdentifier=test"><i class="icon-cloud-download"></i></a></td>&nbsp;

            </tr>
            </tbody>
        </table>

    </div>
</div>
</div>